.about__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.about__article {
  max-width: 40rem;
  min-height: 25rem;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  >header {
    width: 100%;
    }
}

.about__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Alegreya', serif;
  padding: 2rem;
  color: #fff;
  background: #000;
  width: 100%;
  display: block;
  text-align: center;
}

.about__desc {
  line-height: 1.5rem;
  font-size: 1.3rem;
}

.about__link {
  color: rgb(206, 143, 26);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.about__back {
  margin-top: 2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  text-decoration: underline;

  &:hover, &:focus {
    color: rgb(206, 143, 26);
  }
}
